# Исключаем среду разработки
.idea/

# Исключаем виртуальное окружение
venv/

# Исключаем файлы конфигурации и данные, которые не должны быть в репозитории
*.pyc
__pycache__/
*.log
*.sqlite3
.DS_Store

# Исключаем файлы и папки, специфичные для системы
Thumbs.db
