{% load wagtailcore_tags %}

<div class="top_news">
    <h2 class="top_news_title">Топ читаемые</h2>
    <ul class="top_news_list">
        {% for post in top_news %}
        <li class="top_news_item">
            <a href="{% pageurl post %}">
                {{ post.title }}
                <span style="margin-right: 10px">{{ post.pub_date|date:"d/m/y H:i" }}</span>
                <span class="top_news_views">{{ post.view_count }} просмотров</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>