<!--Объект request из контекста (определен по умолчанию в Django)-->
<!--Содержит данные о текущем HTTP-запросе, в т.ч. request.path (полный путь к запрашиваемому ресурсу)-->

<!--materials_tags загружает кастомные теги из файла materials_tags.py,
который находится в директории templatetags приложения materials-->
<!--wagtailsettings_tags загружает теги настроек(раздел в админке)-->
{% load materials_tags wagtailsettings_tags wagtail_cache %}

<!--Запрашивает из базы данных объекты всех настроек (отдельно вытащить курсы возможности нет)-->
{% get_settings as settings %}

<div style="padding: 5px;">
    {% with rates=settings.simple_pages.currencyexchangerates %}
    {% wagtailcache 86400 currencyexchangerates %}
    <span style="margin-right: 5px;"> <i class="fas fa-dollar-sign"></i> {{ rates.dollar_rate }}</span>
    <span style="margin-right: 5px;"> <i class="fas fa-euro-sign"></i> {{ rates.euro_rate }}</span>
    <span style="margin-right: 15px;"> <i class="fas fa-ruble-sign"></i> {{ rates.ruble_rate }}</span>
    {% endwagtailcache %}
    {% endwith %}

    {% now "d E Y | H:i" as current_date_time %}
    <span  id="current-time">{{ current_date_time|lower }}</span>
</div>

{% wagtailcache 86400 navigation %}
<div id="navigation">
    <ul>
        <li>
            <a href="/" class="{% if request.path == '/' %}active{% endif %}">Главная</a>
        </li>

        <li><a href="/news" class="{% if '/news/' in request.path %}active{% endif %}">Новости</a></li>

        <li>
            <a href="/ob-agentstve" class="{% if request.path == '/ob-agentstve/' %}active{% endif %}">Об агентстве</a>
        </li>

        <li>
            <a href="/archive" class="{% if '/archive/' in request.path %}active{% endif %}">Архив</a>
        </li>

        {% basic_categories_list %}
    </ul>

</div>

<ul class="regular_categories_list">
    {% regular_categories_list %}
</ul>
{% endwagtailcache %}